<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>AngularJS SPA</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>
<body ng-controller="MainController">

  <h1>AngularJS SPA</h1>

  <!-- Calculator Section -->
  <div ng-show="selectedSection === 'calculator'">
    <h2>Calculator</h2>
    <label>Number 1:</label>
    <input type="number" ng-model="calculator.num1" />
    
    <label>Operator:</label>
    <select ng-model="calculator.operator">
      <option value="+">+</option>
      <option value="-">-</option>
      <option value="*">*</option>
      <option value="/">/</option>
    </select>
    
    <label>Number 2:</label>
    <input type="number" ng-model="calculator.num2" />
    
    <button ng-click="calculate()">Calculate</button>
    
    <div><label>Result:</label> <span>{{ calculator.result }}</span></div>
  </div>

  <!-- Login Section -->
  <div ng-show="selectedSection === 'login'">
    <h2>Login Page</h2>
        
        <form name="loginForm" novalidate>
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" ng-model="user.name" ng-minlength="3" ng-maxlength="8"
                    required>
                <span class="error" ng-show="loginForm.name.$error.required && loginForm.name.$dirty">Name is
                    required.</span>
                <span class="error" ng-show="loginForm.name.$error.minlength && loginForm.name.$dirty">Name must be
                    at least 3 characters.</span>
                <span class="error" ng-show="loginForm.name.$error.maxlength && loginForm.name.$dirty">Name must be
                    at most 8 characters.</span>
            </div>
            <div>
                <label for="username">Username (Email):</label>
                <input type="email" id="username" name="username" ng-model="user.username" required>
                <span class="error" ng-show="loginForm.username.$error.required && loginForm.username.$dirty">Username
                    is required.</span>
                <span class="error" ng-show="loginForm.username.$error.email && loginForm.username.$dirty">Invalid
                    email address.</span>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" ng-model="user.password" ng-minlength="6"
                    required>
                <span class="error" ng-show="loginForm.password.$error.required && loginForm.password.$dirty">Password
                    is required.</span>
                <span class="error" ng-show="loginForm.password.$error.minlength && loginForm.password.$dirty">Password
                    must be at least 6 characters.</span>
            </div>
            <button ng-click="register()" ng-disabled="loginForm.$invalid">Register</button>
        </form>
        <div ng-if="registrationSuccess" class="success">Registration successful!</div>
    </div>


  <!-- Navigation -->
  <div>
    <label>Select Section:</label>
    <select ng-model="selectedSection" ng-options="section for section in sections"></select>
  </div>

  <script>
    angular.module('myApp', [])
      .controller('MainController', function ($scope) {
        $scope.selectedSection = 'calculator';
  
        $scope.calculator = { num1: 0, num2: 0, operator: '+', result: 0 };
  
        $scope.calculate = function () {
          switch ($scope.calculator.operator) {
            case '+': $scope.calculator.result = $scope.calculator.num1 + $scope.calculator.num2; break;
            case '-': $scope.calculator.result = $scope.calculator.num1 - $scope.calculator.num2; break;
            case '*': $scope.calculator.result = $scope.calculator.num1 * $scope.calculator.num2; break;
            case '/':
              if ($scope.calculator.num2 !== 0) {
                $scope.calculator.result = $scope.calculator.num1 / $scope.calculator.num2;
              } else {
                alert('Cannot divide by zero!');
              }
              break;
            default: alert('Invalid operator');
          }
        };
  
        $scope.register = function () {
            // Perform registration logic here
            // For simplicity, just set registrationSuccess to true
            $scope.registrationSuccess = true;
        };
        $scope.sections = ['calculator', 'login'];
      });
  </script>

</body>
</html>
